body {
  font-family: verdana;
}

#map {
	height: 600px;
	width: 100%;
}


#searchmenu{
	height: 40px;
	width: auto;
	border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}

.controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }
#leftmenu{
	text-align: center;
}

button[type=submit]{
  font-size: 40px;
  margin: auto;
  display: block;
}


/*label {
  float: right;
}*/

li {
  list-style-type: none;
  font-size: 18px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 1.75em;
}

#submitEvaluation{
  border-radius: 8px;
  background-color: #042D74;
  width: 100%;
  height: 50px;
  color: white;
  font-size: 19px;
}

#searchlocation{
	border-radius: 8px;
	background-color: #f44336;
	width: 100%;
	height: 50px;
	color: white;
	font-size: 19px;
}